{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="row col-md-8 col-sm-12 col-xs-12 mt-5">
    <h1 class="text-white">Sign In</h1>
    <p class="text-white">If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.</p>
</div>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {{form | crispy}}
            <!-- {% element fields form=form unlabeled=True %} -->
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <!-- {% element button type="submit" tags="prominent,login" %}
                {% trans "Sign In" %}
            {% endelement %} -->
            <button class="btn btn-primary btn-block rounded-pill" type="submit">
                Sign In
            </button>
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
