{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid bg-dark">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <form method="POST" enctype="multipart/form-data" class="text-white">
                {% csrf_token %}
                <legend class="mb-4">Upload Video</legend>
                {{ form | crispy }}
                <button class="btn btn-primary btn-block mt-3 rounded-pill" type="submit">
                    <a class="text-white" style="text-decoration: none; font-size: 14px;">Submit</a>
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}