<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">MeTube</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarSupportedContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row justify-content-center mx-auto">
        <form class="form-inline my-2 my-lg-0 d-flex flex-row" method="GET" action="{% url 'video-search' %}">
          <input class="form-control mr-sm-2 bg-dark rounded-pill text-white" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
          <button class="search-button text-white ps-2" type="submit"><ion-icon name="search-outline"></ion-icon></button>
        </form>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item mt-2 pe-1">
          <a class="video-icons icon-color" href="{% url 'video-create' %}"><ion-icon name="cloud-upload-outline"></ion-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' user.profile.pk %}"><img src="{{ user.profile.image.url }}" width="35" height="35" class="rounded-circle" alt="Profile"></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>